.projects {
  background-color: #6c7cca;
  padding: 5rem 10rem;
  // padding-bottom: 15rem;
  display: flex;
  font-family: "existenceLight";
  flex-direction: column;
  gap: 10rem;
  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: 700px) {
    padding: 5rem;
  }
}

.project {
  display: flex;
  gap: 5rem;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    gap: 10rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 100%;

    p {
      font-size: 2rem;
    }

    .note {
      font-size: 1.3rem;
      color: #ffc43b;
    }

    .icons {
      font-size: 3rem;
    }

    .btns {
      align-self: flex-end;
      display: flex;
      gap: 2rem;

      @media screen and (max-width: 1200px) {
        align-self: center;
        gap: 1;
      }
      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.6rem;
        text-transform: capitalize;
        background-color: #eee;
        color: #2f2e41;
        padding: 0.5rem 1rem;
        font-family: inherit;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: relative;

    @media screen and (max-width: 1100px) {
      justify-content: center;
    }

    .desktop {
      width: 30rem;
      height: 40rem;

      overflow: hidden;
      border-radius: 1rem;
      position: relative;
      box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;

      @media screen and (max-width: 1200px) {
        width: 26rem;
        height: 35rem;
      }

      @media screen and (max-width: 1100px) {
        transform: rotate(-10deg);
      }
      @media screen and (max-width: 600px) {
        width: 30rem;
        height: 30rem;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.08);
        box-shadow: 5px 8px 15px 20px rgba(0, 0, 0, 0.2);
        z-index: 4;
      }
    }

    .mobile {
      width: 25rem;
      height: 35rem;
      overflow: hidden;
      border-radius: 1rem;
      transform: rotate(20deg) translate(-5rem, 3rem) scale(1);
      box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
      z-index: 2;

      @media screen and (max-width: 1200px) {
        width: 20rem;
        height: 30rem;
      }
      @media screen and (max-width: 800px) {
        width: 25rem;
        height: 28rem;
      }
    }

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      display: inline-block;
    }

    .mobile:hover {
      cursor: pointer;
      box-shadow: 5px 8px 15px 10px rgba(0, 0, 0, 0.2);
      transform: rotate(20deg) translate(-5rem, 3rem) scale(1.08);
    }
  }
}

.project-2,
.project-4,
.project-6 {
  flex-direction: row-reverse;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
}
//
