.popup {
  width: 30rem;
  height: 10rem;
  background-color: #ffd23ed0;
  position: fixed;
  top: 10%;
  left: 50%;
  padding: 3rem 2rem;
  transform: translateX(-50%);
  border-radius: 1rem;
  text-align: center;
  color: #3f3d56;

  div {
    align-self: center;
  }

  svg {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      color: #e44178;
    }
  }
}
